<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfo2x4phnUnuXVGILmqbKH5orR2zvgvU0</string>
	<key>GCM_SENDER_ID</key>
	<string>51271530185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riandradiva.eduapp</string>
	<key>PROJECT_ID</key>
	<string>edumateppam</string>
	<key>STORAGE_BUCKET</key>
	<string>edumateppam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51271530185:ios:a09997246f523b20efff18</string>
</dict>
</plist>